.sliderLayoutContainer {
  justify-content: center;
}

.sliderLayoutContainer--carousel {
  background-color: #F0F0F0;
  min-height: 450px;
}

.sliderTrackContainer {
  max-width: 100%;
}

.paginationDotsContainer {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
  min-height: 550px;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  min-height: 550px;
}

.paginationDotsContainer--promocional {
  align-items: center;
  bottom: -29px;
  margin: 0;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .paginationDotsContainer--promocional {
    bottom: -35px;
  }
}

.paginationDot--promocional {
  height: 12px !important;
  width: 12px !important;
  margin: 0;
}

.paginationDot--promocional--isActive {
  height: 15px !important;
  width: 15px !important;
  background-color: #000000;
}

.sliderRightArrow--promocional {
  margin: 0;
  padding: 29px 15px 29px 23.9px;
  background-color: #FFFFFF !important;
  opacity: 0.95;
  box-shadow: -2px 0px 4px 0px rgba(75, 76, 77, 0.1);
  border-radius: 12px 0 0 12px;
}
.sliderRightArrow--promocional::after {
  content: "";
  background-image: url("https://sideas.vtexassets.com/arquivos/arrow.svg");
  width: 17.11px;
  height: 30px;
  filter: brightness(0) saturate(100%) invert(78%) sepia(37%) saturate(7054%) hue-rotate(357deg) brightness(100%) contrast(104%);
}
.sliderRightArrow--promocional:disabled {
  opacity: 0.5;
}
.sliderRightArrow--promocional:disabled::after {
  filter: invert(95%) sepia(4%) saturate(83%) hue-rotate(182deg) brightness(87%) contrast(96%);
  opacity: 0.5;
}
.sliderRightArrow--promocional .caretIcon--promocional {
  width: 0;
}

.sliderLeftArrow--promocional {
  margin: 0;
  padding: 29px 19px 29px 19.9px;
  background-color: #FFFFFF !important;
  opacity: 0.95;
  box-shadow: 2px 0px 4px 0px rgba(75, 76, 77, 0.1);
  border-radius: 0 12px 12px 0;
}
.sliderLeftArrow--promocional::after {
  content: "";
  background-image: url("https://sideas.vtexassets.com/arquivos/arrow.svg");
  width: 17.11px;
  height: 30px;
  transform: rotate(180deg);
  filter: brightness(0) saturate(100%) invert(78%) sepia(37%) saturate(7054%) hue-rotate(357deg) brightness(100%) contrast(104%);
}
.sliderLeftArrow--promocional:disabled {
  opacity: 0.5;
}
.sliderLeftArrow--promocional:disabled::after {
  filter: invert(95%) sepia(4%) saturate(83%) hue-rotate(182deg) brightness(87%) contrast(96%);
  opacity: 0.5;
}
.sliderLeftArrow--promocional .caretIcon--promocional {
  width: 0;
}

.slide--descuentos {
  max-width: 330px !important;
}

.sliderTrack--descuentos {
  gap: 1rem;
}

.sliderLeftArrow--descuentos {
  margin: 0;
  padding: 15.5px 13.25px 15.5px 12.5px;
  background-color: #333333 !important;
  box-shadow: 2px 0px 4px rgba(75, 76, 77, 0.1);
  border-radius: 28px;
  left: -12px;
}
.sliderLeftArrow--descuentos::after {
  content: "";
  background-image: url("https://sideas.vtexassets.com/arquivos/arrow.svg");
  color: #FFFFFF;
  width: 14.25px;
  height: 25px;
  transform: rotate(180deg);
  background-size: cover;
}
.sliderLeftArrow--descuentos .caretIcon--descuentos {
  width: 0;
}

.sliderRightArrow--descuentos {
  margin: 0;
  padding: 15.5px 12.5px 15.5px 13.25px;
  background-color: #333333 !important;
  box-shadow: -2px 0px 4px rgba(75, 76, 77, 0.1);
  border-radius: 28px;
  right: -13px;
}
.sliderRightArrow--descuentos::after {
  content: "";
  background-image: url("https://sideas.vtexassets.com/arquivos/arrow.svg");
  color: #FFFFFF;
  width: 14.25px;
  height: 25px;
  background-size: cover;
}
.sliderRightArrow--descuentos .caretIcon--descuentos {
  width: 0;
}

.paginationDotsContainer--descuentos {
  align-items: center;
  bottom: -54px;
  margin: 0;
  gap: 10px;
}

.paginationDot--descuentos {
  height: 12px !important;
  width: 12px !important;
  margin: 0;
}

.paginationDot--descuentos--isActive {
  height: 15px !important;
  width: 15px !important;
  background-color: #000000;
}
