:global(.vtex-product-summary-2-x-skuSelectorInternalBox--descuentos) :global(.absolute) {
  border: 1px solid #D1D2D4;
  border-radius: 4px;
}

:global(.vtex-product-summary-2-x-skuSelectorItem--descuentos--selected) :global(.absolute) {
  border: 1px solid #000000;
  border-radius: 4px;
}
