// Font
$montserrat: 'Montserrat', sans-serif;

// Colors
$black: #000000;
$white: #FFFFFF;
$dark-gray: #4B4C4D;
$gray: #939598;
$ligth-gray: #D1D2D4;
$orange: #FF9401;

// Resolutions
$desktop: 1024px;
$mobile: 768px;