@import 'VARS.scss';

.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround,
.skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}

.nameContainer {
  justify-content: start;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.brandName {
  font-weight: 600;
  font-size: 18px;
  color: #2E2E2E;
}

.container {
  text-align: start;
}

.imageContainer {
  text-align: center;
}

.image {
  border-radius: 0.25rem;
}

// PRODUCT SUMMARY DESCUENTOS

.container--descuentos {
  max-width: 330px !important;
  margin: 0;
  border: 1px solid $ligth-gray;
  border-radius: 8px;
  
  .element--descuentos {
    padding: 0;
  }

  .imageWrapper--descuentos {
    height: 300px;

    .image--descuentos {
      width: 330px;
      max-height: 300px;
      object-fit: cover;
    }
  }
}

.buyButton--descuentos {
  background-color: $white;
}

.frameAround--descuentos {
  display: none;
}

.skuSelectorContainer--descuentos {
  margin: 0 !important;

  :global(.vtex-store-components-3-x-skuSelectorOptionsList) {
    gap: 4px;
    margin: 0;
  }
}

.skuSelectorItem--descuentos {
  margin: 0;
}

.productBrandName--descuentos {
  font-family: $montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: $gray;
}

.productBrand--descuentos {
  font-family: $montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #1A1A1A;
}

.priceContainer--descuentos {
  float: left;
  padding: 0;
  margin-bottom: 34px;
}

.productPriceClass--descuentos {
  gap: 4px;

  .listPriceContainer--descuentos {
    padding: 0;

    .listPrice--descuentos {
      padding: 0;
    }
    
    .currencyContainer--descuentos {
      font-family: $montserrat;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      color: #969696;
    }
  }
}

.sellingPriceContainer--descuentos {
  padding: 0;
}

.sellingPrice--descuentos {
  padding: 0 !important;

  .currencyContainer--descuentos {
    font-family: $montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #1A1A1A;
  }
}

.nameContainer--descuentos {
  padding: 0 !important;
  margin-top: 4px;
  margin-bottom: 8px;
}