.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: #03044e;
  color: #fff;
}

.flexRowContent--main-header {
  background-color: #f0f0f0;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #f0f0f0;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}

.flexRow--deals {
  background-color: #0F3E99;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
  margin-bottom: 5px;
  padding-top: 5px;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

// RICH TEXT BENEFICIOS

.flexRow--beneficios {
  margin: 96px 0 67px 0;

  @media screen and (max-width: 768px) {
    margin: 83px 0 61px 0;
  }
}

// FLEX LAYOUT DESCUENTOS

.flexRow--descuentos {
  @media screen and (max-width: 768px) {
    margin-bottom: 96px;
  }

  .stretchChildrenWidth {
    &:first-child {
      @media screen and (min-width: 1024px) {
        width: 32.60% !important;
      }
    }
    &:last-child {
      @media screen and (min-width: 1024px) {
        width: 67.40% !important;
      }
    }
  }
}

.flexCol--descuentos {
  padding: 38px 16px 16px 16px;

  .flexColChild--descuentos {
    &:first-child {
      margin-bottom: 16px;
      min-height: 48px !important;
    }
  }
}

.flexColChild--descuentos {
  :global(.vtex-button) {
    background-color: #ffffff;
    border: 1px solid #FF9401;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;

    &:hover {
      background-color: #FF9401;
      
      :global(.vtex-add-to-cart-button-0-x-buttonText) {
        color: #FFFFFF; 
      }
    }

    :global(.vtex-button__label) {
      padding: 0 !important;
    }
  }
}