// FLEX LAYOUT DESCUENTOS

.buttonText--descuentos {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #FF9401;
  text-transform: initial;
}