@import 'VARS.scss';

// FLEX LAYOUT DESCUENTOS

.buttonText--descuentos {
  font-family: $montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: $orange;
  text-transform: initial;
}