@import 'VARS.scss';

// PRODUCT SUMMARY DESCUENTOS

:global(.vtex-product-summary-2-x-skuSelectorInternalBox--descuentos) {
  
  :global(.absolute) {
    border: 1px solid $ligth-gray;
    border-radius: 4px;
  }
}

:global(.vtex-product-summary-2-x-skuSelectorItem--descuentos--selected) {

  :global(.absolute) {
    border: 1px solid $black;
    border-radius: 4px;
  }
}